/*Esto es el css del menu de inicio*/
@font-face{
  font-family: fuenteLibre;
  src:url(../res/THWACK.TTF);
}

body,html {
  margin: 10px;
  font-family: fuenteLibre;
 /*background: url(../img/syncopa-jazz-and-cocktail.jpg);*/
  background-size: 10000px;
  background-repeat: no-repeat;
  background-color: grey;
  background-position: center;
}

h1{
text-align: center;
}

a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
}

.Descripcion{
  margin-top: 20px;
  margin-left: 40px;
  font-family: fuenteLibre;
}

.Autores {
  margin-top: 20px;
  margin-left: 75px;
  font-family: fuenteLibre;
}

.Multimedia{
  margin-top: 20px;
  margin-left: 95px;
  font-family: fuenteLibre;
}

.Desarrollo{
  margin-top: 20px;
  margin-left: 115px;
  font-family: fuenteLibre;
}
